.search-module-container {
  @include flex-column-100vh;
  position: relative;
}

.search-box-container {
  animation: fadeIn 1s ease-out;
  position: relative;
  @include flex-column-centered;
  z-index: 1;
  &::before {
    animation: fadeIn 2s ease-in;
    content: "";
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    border: 3px solid $gold;
  }
  &::after {
    animation: rotate 10s linear infinite;
    content: "";
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;

    border: 10px solid $darkblue;
  }
}
.search-box {
  width: 30vw;
  min-width: 400px;
  height: 50px;
  border-radius: 15px;
}

.search-btn-wrapper {
  @include flex-column-centered;
  position: relative;
  margin-top: 100px;
  width: 25vw;
  min-width: 230px;
  height: 65px;
}

.btn-border {
  position: absolute;
  width: 228px;
  height: 65px;
  overflow: visible;
}

.search-btn {
  animation: fadeIn 0.6s ease-in;
  @include flex-column-centered;
  position: absolute;
  background-color: $gold;
  width: 215px;
  height: 45px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(3, 6, 8);
  z-index: 1;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  font-family: "Bebas Neue", cursive;

  &:hover {
    transition: all 0.2s ease;
    background-color: $gold2;
  }
}
