.search-module-container {
  @include flex-column-100vh;
  position: relative;
}

.search-box-container {
  animation: fadeIn 1s ease-out;
  position: relative;
  @include flex-column-centered;
  z-index: 1;
  &::before {
    animation: scaleUp 0.6s ease-out;
    content: "";
    width: 150px;
    height: 150px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    border: $gold-border;
  }
}
.search-box {
  width: 30vw;
  min-width: 400px;
  height: 50px;
  border-radius: 15px;
}

.search-btn-wrapper {
  animation: fadeIn 1s ease-out;
  @include flex-column-centered;
  position: relative;
  margin-top: 100px;
  width: 25vw;
  min-width: 230px;
  height: 65px;
}

.btn-border {
  position: absolute;
  width: 228px;
  height: 65px;
}

.search-btn {
  @include flex-column-centered;
  position: absolute;
  background-color: $gold;
  width: 215px;
  height: 45px;
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(3, 6, 8);
  z-index: 1;
}

@media only screen and (max-width: 395px) {
  .search-box {
    min-width: 330px;
  }
}

@media only screen and (max-width: 290px) {
  .search-box {
    min-width: 250px;
  }
}
