body {
  font-family: "Bebas Neue", cursive !important;
}

.text-container {
  animation: fadeIn 0.6s ease-in;
  @include flex-column-centered;
  z-index: 2;
  width: 50%;
  text-align: justify;

  & h1,
  h2 {
    padding: 0;
    margin: 10px;
  }

  & li {
    margin: 5px;
  }

  & ul {
    margin: 30px;
    list-style-type: disc;
  }
}

.accept-button {
  transition: all 0.3s;
  transform: scale(1);
  width: 230px;
  height: 66px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  &::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 56px;
    z-index: 3;
    border: $border;
    transition: all 0.4s;
    transform-origin: right bottom;
  }
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: $slim-border;
    transform: rotate(45deg);
    z-index: 0;
    opacity: 0;
    transition: all 0.3s;
  }
}

#accept {
  background-color: $gold;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  height: 56px;
  padding-top: 3px;
  margin: 5px;
  color: $darkblue;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

.intro-centered-image {
  animation: fadeIn 0.6s ease-in;
  @include flex-column-centered;
  width: 400px;
  height: 400px;
  z-index: 1;
  &::before {
    animation: scaleUp 0.6s ease-out;
    content: "";
    width: 220px;
    height: 220px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    border: $gold-border;
  }
}

.akali-intro {
  animation: moveUpDown 3s ease-in-out infinite;
  width: 400px;
  height: auto;
}
