//TABLETS HORIZONTAL

@media only screen and (min-width: 1101px) {
  .accept-button {
    &:hover {
      &::after {
        transition: all 0.4s;
        width: 70px;
        height: 70px;
        opacity: 1;
      }
      &::before {
        transition: all 250ms;
        height: 80px;
        width: 220px;
        opacity: 0;
        z-index: 1;
        border: $border;
      }
    }
    #accept {
      &:hover {
        transition: all 0.2s;

        clip-path: polygon(
          30% 0%,
          90% 0,
          100% 25%,
          100% 100%,
          71% 100%,
          10% 100%,
          0 70%,
          0 0
        );
        z-index: 3;
      }
    }
  }
}

@media only screen and (max-width: 1390px) {
  .result-container {
    transform: scale(0.7);
  }
  .accept-button {
    &::after {
      content: "";
      position: absolute;
      width: 70px;
      height: 70px;
      opacity: 1;
    }
    &::before {
      content: none;
      height: 80px;
      width: 220px;
      opacity: 1;
    }
  }
  #accept {
    clip-path: polygon(
      30% 0%,
      90% 0,
      100% 25%,
      100% 100%,
      71% 100%,
      10% 100%,
      0 70%,
      0 0
    );
    z-index: 1;
  }
  .text-container {
    & h1 {
      font-size: 3.4rem;
    }

    & h2 {
      font-size: 2.4rem;
      padding: 0;
      margin: 10px;
    }

    & li {
      font-size: 1.5rem;
      margin: 5px;
      letter-spacing: 1px;
    }

    & ul {
      margin: 0px;
      list-style-type: disc;
    }
  }
}

@media only screen and (max-width: 1190px) {
  .search-box {
    min-width: 330px;
  }

  .bg-image {
    width: 300px;
  }

  .text-container {
    & h1 {
      font-size: 2.9rem;
    }

    & h2 {
      font-size: 2.4rem;
      padding: 0;
      margin: 10px;
    }

    & li {
      font-size: 1.3rem;
      margin: 5px;
      letter-spacing: 1px;
    }

    & ul {
      margin: 0px;
      list-style-type: disc;
    }
  }

  //SMARTPHONES VERTICAL
  @media only screen and (max-width: 420px) {
    .search-box {
      min-width: 330px;
    }
    .bg-image {
      display: none;
    }
    .intro-wrapper,
    .home-wrapper {
      width: 100vw;
      height: 100vh;
      border: none;
      flex-direction: column;
      justify-content: center;
    }
    .text-container {
      width: 90vw;
      & h1 {
        font-size: 1.7rem;
      }

      & h2 {
        font-size: 1.4rem;
        padding: 0;
        margin: 10px;
      }

      & li {
        font-size: 0.8rem;
        margin: 5px;
        letter-spacing: 1px;
      }

      & ul {
        margin: 0px;
        list-style-type: disc;
      }
    }
    .akali-intro {
      width: 260px;
    }

    .second-bg-image {
      display: none;
    }

    .accept-button {
      transform: scale(1);
    }
  }

  @media only screen and (max-width: 290px) {
    .search-box {
      min-width: 250px;
    }
  }

  // SMARTPHONES HORIZONTAL & TABLETS VERTICAL

  @media only screen and (max-height: 960px) {
    .text-container {
      & h1 {
        font-size: 2.5rem;
      }

      & h2 {
        font-size: 2rem;
        padding: 0;
        margin: 10px;
      }

      & li {
        font-size: 1rem;
        margin: 5px;
        letter-spacing: 1px;
      }

      & ul {
        margin: 0px;
        list-style-type: disc;
      }
    }
    .accept-button {
      transform: scale(1);
    }
  }
  .akali-intro {
    width: 400px;
  }

  .intro-centered-image {
    animation: fadeIn 0.6s ease-in;
    @include flex-column-centered;
    width: 300px;
    height: 400px;
    z-index: 1;
    &::before {
      width: 240px;
      height: 240px;
    }
  }

  @media only screen and (max-height: 915px) {
  }
}

@media only screen and (max-width: 960px) {
  .intro-wrapper,
  .home-wrapper {
    flex-direction: column;
    justify-content: center;
    @include mobile-horizontal-text-image;
  }
}

@media only screen and (max-height: 600px) {
  .home-wrapper {
    @include mobile-horizontal-flexrow-noborder;
    background: radial-gradient($darkblue 50%, $brightblue);
  }
  .intro-wrapper {
    @include mobile-horizontal-flexrow-noborder;
    @include mobile-horizontal-text-image;
  }
  .search-box-container {
    margin-top: 100px;
  }
  .second-bg-image {
    display: none;
  }
}
