$gold: rgb(208, 168, 92);
$gold2: rgb(223, 183, 109);
$darkblue: rgb(3, 6, 8);
$brightblue: rgb(11, 22, 31);
$primary-bg-color: radial-gradient($darkblue 30%, $brightblue);
$secondary-bg-color: linear-gradient($brightblue, whitesmoke);
$border: 2px solid white;
$slim-border: 1px solid whitesmoke;
$gold-border: 2px solid $gold;

@mixin flex-column-100vh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

@mixin flex-column-100vh-100vw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

@mixin flex-column-90vh-95vw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 95vw;
}

@mixin flex-row-90vh-95vw {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 95vw;
}

@mixin flex-column-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-min100vh-100vw {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

@mixin wrapper-basic {
  color: white;
  overflow: hidden;
  background: $primary-bg-color;
  z-index: 0;
  border: 1px solid $gold;
  box-shadow: 0 0 15px rgb(98, 42, 150);
}

@mixin mobile-horizontal-flexrow-noborder {
  width: 100vw;
  height: 100vh;
  border: none;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

@mixin mobile-horizontal-text-image {
  .text-container {
    margin-right: 20px;
    & h1 {
      font-size: 1.5rem;
    }

    & h2 {
      font-size: 1.2rem;
      padding: 0;
      margin: 10px;
    }

    & li {
      font-size: 0.8rem;
      margin: 10px;
      letter-spacing: 1px;
    }
  }
  .intro-centered-image {
    animation: fadeIn 0.6s ease-in;
    @include flex-column-centered;
    width: 400px;
    height: 227px;
    z-index: 1;
    &::before {
      width: 150px;
      height: 150px;
    }
  }
  .akali-intro {
    width: 260px;
  }
  .accept-button {
    transform: scale(0.7);
    margin-top: 10px;
  }
}
