@import "./_variables";
@import "./_home";
@import "./_intro";
@import "./animation";
@import "./mediaQueries";
@import "./searchResults";

body {
  @include flex-column-100vh-100vw;
  background: $brightblue;
  font-family: "Bebas Neue", cursive !important;
}

.second-bg-image {
  position: fixed;
  width: 400px;
  height: auto;
  bottom: -40px;
  right: -105px;
  z-index: 1;
}
