.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 95vw;
  color: white;
  overflow: hidden;
  background: radial-gradient(rgb(3, 6, 8) 30%, rgb(11, 22, 31));
  z-index: 0;
  border: 1px solid rgb(208, 168, 92);
  box-shadow: 0 0 15px rgb(98, 42, 150);
}

.search-module-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.search-box-container {
  -webkit-animation: fadeIn 1s ease-out;
          animation: fadeIn 1s ease-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.search-box-container::before {
  -webkit-animation: fadeIn 2s ease-in;
          animation: fadeIn 2s ease-in;
  content: "";
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  border: 3px solid rgb(208, 168, 92);
}
.search-box-container::after {
  -webkit-animation: rotate 10s linear infinite;
          animation: rotate 10s linear infinite;
  content: "";
  width: 150px;
  height: 150px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  border: 10px solid rgb(3, 6, 8);
}

.search-box {
  width: 30vw;
  min-width: 400px;
  height: 50px;
  border-radius: 15px;
}

.search-btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100px;
  width: 25vw;
  min-width: 230px;
  height: 65px;
}

.btn-border {
  position: absolute;
  width: 228px;
  height: 65px;
  overflow: visible;
}

.search-btn {
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgb(208, 168, 92);
  width: 215px;
  height: 45px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(3, 6, 8);
  z-index: 1;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  font-family: "Bebas Neue", cursive;
}
.search-btn:hover {
  transition: all 0.2s ease;
  background-color: rgb(223, 183, 109);
}

.search-results {
  opacity: 0;
}

.revealed {
  transition: opacity 1s ease;
  transition-delay: 0.8s;
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 95vw;
  color: white;
  overflow: hidden;
}

.hidden {
  transition: all 0.5s ease;
  opacity: 0;
  z-index: -10;
}

.intro-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
  width: 95vw;
  color: white;
  overflow: hidden;
  background: radial-gradient(rgb(3, 6, 8) 30%, rgb(11, 22, 31));
  z-index: 0;
  border: 1px solid rgb(208, 168, 92);
  box-shadow: 0 0 15px rgb(98, 42, 150);
}

.text-container {
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  width: 50%;
  text-align: justify;
}
.text-container h1 {
  font-size: 4rem;
}
.text-container h2 {
  font-size: 2.5rem;
  padding: 0;
  margin: 10px;
}
.text-container li {
  font-size: 1.5rem;
  margin: 13px;
}
.text-container ul {
  margin: 30px;
  list-style-type: disc;
}

.accept-button {
  transition: all 0.3s;
  transform: scale(1);
  width: 230px;
  height: 66px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin-top: 50px;
}
.accept-button::before {
  content: "";
  position: absolute;
  width: 195px;
  height: 56px;
  z-index: 3;
  border: 2px solid white;
  transition: all 0.4s;
  transform-origin: right bottom;
}
.accept-button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid whitesmoke;
  transform: rotate(45deg);
  z-index: 0;
  opacity: 0;
  transition: all 0.3s;
}

#accept {
  background-color: rgb(208, 168, 92);
  transition: all 0.3s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  height: 56px;
  padding-top: 3px;
  margin: 5px;
  color: rgb(3, 6, 8);
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 0);
          clip-path: polygon(30% 0%, 70% 0%, 100% 0, 100% 100%, 70% 100%, 0 100%, 0% 70%, 0 0);
}

.intro-centered-image {
  -webkit-animation: fadeIn 0.6s ease-in;
          animation: fadeIn 0.6s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  z-index: 1;
}
.intro-centered-image::before {
  -webkit-animation: scaleUp 0.6s ease-out;
          animation: scaleUp 0.6s ease-out;
  content: "";
  width: 320px;
  height: 320px;
  transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  border: 2px solid rgb(208, 168, 92);
}

.akali-intro {
  -webkit-animation: moveUpDown 3s ease-in-out infinite;
          animation: moveUpDown 3s ease-in-out infinite;
  width: 600px;
  height: auto;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
@keyframes scaleUp {
  0% {
    transform: rotate(45deg) scale(0);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}
@-webkit-keyframes rotate {
  0%, 100% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(50deg);
  }
}
@keyframes rotate {
  0%, 100% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(50deg);
  }
}
@media only screen and (min-width: 1101px) {
  .accept-button:hover::after {
    transition: all 0.4s;
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  .accept-button:hover::before {
    transition: all 250ms;
    height: 80px;
    width: 220px;
    opacity: 0;
    z-index: 1;
    border: 2px solid white;
  }
  .accept-button #accept:hover {
    transition: all 0.2s;
    -webkit-clip-path: polygon(30% 0%, 90% 0, 100% 25%, 100% 100%, 71% 100%, 10% 100%, 0 70%, 0 0);
            clip-path: polygon(30% 0%, 90% 0, 100% 25%, 100% 100%, 71% 100%, 10% 100%, 0 70%, 0 0);
    z-index: 3;
  }
}
@media only screen and (max-width: 1390px) {
  .accept-button::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 1;
  }
  .accept-button::before {
    content: none;
    height: 80px;
    width: 220px;
    opacity: 1;
  }

  #accept {
    -webkit-clip-path: polygon(30% 0%, 90% 0, 100% 25%, 100% 100%, 71% 100%, 10% 100%, 0 70%, 0 0);
            clip-path: polygon(30% 0%, 90% 0, 100% 25%, 100% 100%, 71% 100%, 10% 100%, 0 70%, 0 0);
    z-index: 1;
  }

  .text-container h1 {
    font-size: 3.4rem;
  }
  .text-container h2 {
    font-size: 2.4rem;
    padding: 0;
    margin: 10px;
  }
  .text-container li {
    font-size: 1.5rem;
    margin: 5px;
    letter-spacing: 1px;
  }
  .text-container ul {
    margin: 0px;
    list-style-type: disc;
  }
}
@media only screen and (max-width: 1190px) {
  .search-box {
    min-width: 330px;
  }

  .bg-image {
    width: 300px;
  }

  .text-container h1 {
    font-size: 2.9rem;
  }
  .text-container h2 {
    font-size: 2.4rem;
    padding: 0;
    margin: 10px;
  }
  .text-container li {
    font-size: 1.3rem;
    margin: 5px;
    letter-spacing: 1px;
  }
  .text-container ul {
    margin: 0px;
    list-style-type: disc;
  }
}
@media only screen and (max-width: 1190px) and (max-width: 420px) {
  .search-box {
    min-width: 330px;
  }

  .bg-image {
    display: none;
  }

  .intro-wrapper,
.home-wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
    flex-direction: column;
    justify-content: center;
  }

  .text-container {
    width: 90vw;
  }
  .text-container h1 {
    font-size: 1.7rem;
  }
  .text-container h2 {
    font-size: 1.4rem;
    padding: 0;
    margin: 10px;
  }
  .text-container li {
    font-size: 0.8rem;
    margin: 5px;
    letter-spacing: 1px;
  }
  .text-container ul {
    margin: 0px;
    list-style-type: disc;
  }

  .akali-intro {
    width: 260px;
  }

  .second-bg-image {
    display: none;
  }

  .accept-button {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1190px) and (max-width: 290px) {
  .search-box {
    min-width: 250px;
  }
}
@media only screen and (max-width: 1190px) and (max-height: 960px) {
  .text-container h1 {
    font-size: 2.5rem;
  }
  .text-container h2 {
    font-size: 2rem;
    padding: 0;
    margin: 10px;
  }
  .text-container li {
    font-size: 1rem;
    margin: 5px;
    letter-spacing: 1px;
  }
  .text-container ul {
    margin: 0px;
    list-style-type: disc;
  }

  .accept-button {
    transform: scale(1);
  }
}
@media only screen and (max-width: 1190px) {
  .akali-intro {
    width: 400px;
  }
}
@media only screen and (max-width: 1190px) {
  .intro-centered-image {
    -webkit-animation: fadeIn 0.6s ease-in;
            animation: fadeIn 0.6s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
    z-index: 1;
  }
  .intro-centered-image::before {
    width: 240px;
    height: 240px;
  }
}
@media only screen and (max-width: 960px) {
  .intro-wrapper,
.home-wrapper {
    flex-direction: column;
    justify-content: center;
  }
  .intro-wrapper .text-container,
.home-wrapper .text-container {
    margin-right: 20px;
  }
  .intro-wrapper .text-container h1,
.home-wrapper .text-container h1 {
    font-size: 1.5rem;
  }
  .intro-wrapper .text-container h2,
.home-wrapper .text-container h2 {
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
  }
  .intro-wrapper .text-container li,
.home-wrapper .text-container li {
    font-size: 0.8rem;
    margin: 10px;
    letter-spacing: 1px;
  }
  .intro-wrapper .intro-centered-image,
.home-wrapper .intro-centered-image {
    -webkit-animation: fadeIn 0.6s ease-in;
            animation: fadeIn 0.6s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 227px;
    z-index: 1;
  }
  .intro-wrapper .intro-centered-image::before,
.home-wrapper .intro-centered-image::before {
    width: 150px;
    height: 150px;
  }
  .intro-wrapper .akali-intro,
.home-wrapper .akali-intro {
    width: 260px;
  }
  .intro-wrapper .accept-button,
.home-wrapper .accept-button {
    transform: scale(0.7);
    margin-top: 10px;
  }
}
@media only screen and (max-height: 600px) {
  .home-wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background: radial-gradient(rgb(3, 6, 8) 50%, rgb(11, 22, 31));
  }

  .intro-wrapper {
    width: 100vw;
    height: 100vh;
    border: none;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .intro-wrapper .text-container {
    margin-right: 20px;
  }
  .intro-wrapper .text-container h1 {
    font-size: 1.5rem;
  }
  .intro-wrapper .text-container h2 {
    font-size: 1.2rem;
    padding: 0;
    margin: 10px;
  }
  .intro-wrapper .text-container li {
    font-size: 0.8rem;
    margin: 10px;
    letter-spacing: 1px;
  }
  .intro-wrapper .intro-centered-image {
    -webkit-animation: fadeIn 0.6s ease-in;
            animation: fadeIn 0.6s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 227px;
    z-index: 1;
  }
  .intro-wrapper .intro-centered-image::before {
    width: 150px;
    height: 150px;
  }
  .intro-wrapper .akali-intro {
    width: 260px;
  }
  .intro-wrapper .accept-button {
    transform: scale(0.7);
    margin-top: 10px;
  }

  .search-box-container {
    margin-top: 100px;
  }

  .second-bg-image {
    display: none;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background: rgb(11, 22, 31);
  font-family: "Bebas Neue", cursive !important;
}

.second-bg-image {
  position: fixed;
  width: 400px;
  height: auto;
  bottom: -40px;
  right: -105px;
  z-index: 1;
}/*# sourceMappingURL=index.css.map */