body {
  font-family: "Bebas Neue", cursive !important;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $bg-color;
  color: white;
  z-index: -1;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.accept-button {
  transition: all 0.3s;
  transform: scale(1);
  width: 230px;
  height: 66px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    width: 195px;
    height: 56px;
    z-index: 2;
    border: $border;
    transition: all 0.4s;
    transform-origin: right bottom;
  }
  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: $slim-border;
    transform: rotate(45deg);
    z-index: 0;
    opacity: 0;
    transition: all 0.3s;
  }
}

#accept {
  background-color: $gold;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 195px;
  height: 56px;
  padding-top: 3px;
  margin: 5px;
  color: $darkblue;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 1;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0,
    100% 100%,
    70% 100%,
    0 100%,
    0% 70%,
    0 0
  );
}

@media only screen and (min-width: 1101px) {
  .accept-button {
    &:hover {
      transition: all 250ms;
      transform: scale(1.1);

      &::after {
        transition: all 0.4s;
        width: 70px;
        height: 70px;
        opacity: 1;
      }
      &::before {
        transition: all 250ms;
        height: 80px;
        width: 220px;
        opacity: 0;
        z-index: 1;
        border: $border;
      }
    }
    #accept {
      &:hover {
        transition: all 0.2s;

        clip-path: polygon(
          30% 0%,
          90% 0,
          100% 25%,
          100% 100%,
          71% 100%,
          10% 100%,
          0 70%,
          0 0
        );
        z-index: 3;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  * {
    transition: none;
  }
  .accept-button {
    &::after {
      content: "";
      position: absolute;

      width: 70px;
      height: 70px;
      opacity: 1;
    }
    &::before {
      height: 80px;
      width: 220px;
      opacity: 0;
    }
  }
  #accept {
    clip-path: polygon(
      30% 0%,
      90% 0,
      100% 25%,
      100% 100%,
      71% 100%,
      10% 100%,
      0 70%,
      0 0
    );
    z-index: 3;
  }
}
