$gold: rgb(208, 168, 92);
$gold2: rgb(223, 183, 109);
$darkblue: rgb(3, 6, 8);
$brightblue: rgb(8, 15, 20);
$bg-color: radial-gradient($darkblue, $brightblue);
$border: 2px solid white;
$slim-border: 1px solid whitesmoke;
$gold-border: 2px solid $gold;
