@import "./_variables";
@import "./_homepage";
@import "./_intro";
@import "./_results";

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $bg-color;
  color: white;
  z-index: -1;
}
