@import "./_variables";
@import "./_home";
@import "./_intro";
@import "./_results";
@import "./animation";

.wrapper {
  @include flex-column-100vh-100vw;
  background: $bg-color;
  color: white;
  z-index: -1;
}
